<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>516828447377-c6mq4kvuqmnilags5ld5i7vcsvmc2lco.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.516828447377-c6mq4kvuqmnilags5ld5i7vcsvmc2lco</string>
	<key>API_KEY</key>
	<string>AIzaSyA0Jj09kUaBcGbU4MOBTXiHbRomu_OLKTc</string>
	<key>GCM_SENDER_ID</key>
	<string>516828447377</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>edu.monash.FIT3178-Assignment</string>
	<key>PROJECT_ID</key>
	<string>fit3178-assignment-582a0</string>
	<key>STORAGE_BUCKET</key>
	<string>fit3178-assignment-582a0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:516828447377:ios:655e90dfa868222352f530</string>
</dict>
</plist>